.navbar {
    width: 100%;
}

.navbarContainer {
    /* width: 100%; */
    height: 100%;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: space-between;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}


.navbarItems{
    color: white !important;
    margin-left: 1rem;
}


.navbarItems:hover{
    color: lightgreen !important;;
    transition: all 300ms ease-in-out !important;;
}