.navbar {
    width: 100%;
    background-color: rgba(101,193,140,255) !important;
}

.navbarContainer {
    /* width: 100%; */
    height: 100%;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: space-between;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}


.navbarItems{
    color: white !important;
    margin-left: 1rem;
    background-color: rgba(101,193,140,255) !important;
}


.navbarItems:hover{
    color: #CDEEDB !important;;

}

.buttonGroup{
    background-color: rgba(101,193,140,255) !important;
}

.navbarButtons{
    border: none !important;
    background-color: rgba(101,193,140,255) !important;
}

.navbarButtons:hover{
    border: none !important;
    background-color: #519a70!important;
}