.productRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin: 2rem 0 2rem 0;
}

.productImage{
    width: 100px;
    height: 100px;
}

.titleHeader {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.productName{
    font-size: 1.25rem;
    font-weight: normal;
}

.pricetag{
    font-size: 1.25rem;
    margin-right: 1.5rem;

}

.removeButton{
    border-radius: 0.25rem;
    padding: 0.05rem 1rem 0.05rem 1rem;
}


.priceTotal{
    font-size: 1rem;
    width: 50%;
}
.priceTotalRight{
    font-size: 1rem;
    width: 50%;
    text-align: right;
}

.selections{
    display:flex;
    flex-direction:column;
    width: 50%;
    padding-right: 25%;
    
}

.info_and_checkout{
    display:flex;
    flex-direction:column;
    width: 50%;
    padding-left: 25%;
    justify-self: flex-end;
}

.purchaseSummary{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}

.info_row{
    display:flex;
    flex-direction:row;
    height: 100%;
}

.districtDropdown{
    margin-bottom:1rem;
    padding: 0.25rem;
    border: 2px solid rgba(101,193,140,1);
    border-radius: 5px;
}

.districtDropdownLabel{
    font-weight: 500;
}